@import 'styles/shared';

.Form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  text-align: center;
  font-weight: 500;
}

.Form input {
  font-size: 20px;
  padding: 5px;
  border: 1px solid $teal;
  outline: none;
  border-radius: 5px;
}
.Form input:focus,
.Form input:hover {
  box-shadow: 1px 2px 2px 1px $teal-shadow;
}
.Form button {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
